body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center; 
}

.container {
    max-width: 600px; 
    margin: 0 auto; 
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: center; 
}

#input-user {
    width: 100%;
    box-sizing: border-box; 
    padding: 8px;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#results-div {
    margin-top: 20px;
    font-weight: bold;
}
